/* FONT IMPORTS AND INTEGRATION */

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700|IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}

/* HEADER SECTION */

#toggle-menu {
  display: none;
}

label {
  display: none;
}

.header {
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: 50% 62%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  text-shadow: 3px 5px 4px #212220;
}

.header-navbar-links {
  float: right;
  margin-top: 50px;
}

.header-navbar-links li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
}

.navbar-link:hover {
  color: #00ff00;
  font-weight: 700;
}

.header-brand-wrapper {
  margin-top: 60px;
  float: left;
}

.header-brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 200%;
  display: block;
  margin-top: -9%;
  color: #fff;
}

.header-brand:hover {
  color: #00ff00;
}

.slogan {
  padding-top: 120px;
  text-align: center;
}

.slogan-text {
  padding-top: 8%;
  font-size: 300%;
  font-weight: bold;
}

.slogan-button {
  margin-top: 50px;
  font-size: 100%;
  background-color: #00ff00;
  color: #000;
}

.slogan-button:hover {
  text-shadow: 0px 0px 2px #212220;
  background-color: #800080;
  color: #fff;
}

/* CONTENT SECTION */

.content {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: #212220;
  height: 50vh;
}

.content-bright {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 85px;
  height: 50vh;
  background-color: #484a48;
}

.content-title {
  font-weight: bold;
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
}

.content-img {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  border-radius: 01061997px;
  border: 5px solid #800080;
  display: block;
  float: right;
}

.content-bright-img {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  border-radius: 01061997px;
  border: 5px solid #800080;
  display: block;
  float: left;
}

.content-link {
  color: #00ff00;
}

.content-link:hover {
  color: #800080;
}

/* CREDITS SECTION */

.credits {
  background-color: #800080;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 150%;
  font-weight: 300;
}

.credits-text {
  font-family: "IBM Plex Mono", monospace;
}

.credit-link {
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
}

.credit-link:hover {
  color: #212220;
}

/*RESPONSIVENESS*/
@media screen and (max-width:600px) {

  /*MENU*/
  .header-brand-wrapper {
    margin-top: 25px;
    text-align: center;
  }

  .header-brand {
    font-size: 25px;
  }

  nav a {
    display: block;
  }

  nav .header-navbar-links>li {
    display: inline;
    text-align: center;
  }

  label {
    display: block;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
  }

  .header-navbar-links {
    text-align: center;
    display: none;
  }

  li a .navbar-link {
    text-align: center;
    display: inline-block;
  }

  #toggle-menu:checked+.header-navbar-links {
    display: block;
  }

  /*HEADER*/
  .slogan {
    padding-top: 20px;
  }

  .slogan-text {
    padding-top: -100px;
    font-size: 30px;
  }

  /*LAYER MODEL*/
  .content {
    padding-top: 10px;
  }

  .content-img {
    width: 15vh;
    height: 15vh;
    margin-top: -180px;
  }

  p {
    margin-top: 40px;
    font-size: 15px;
    line-height: 1.1;
    margin-bottom: -20px;
  }

  .content-title {
    font-size: 25px;
  }

  .content-link {
    margin-top: -100px;
  }

  /*PROTOCOL*/
  .content-bright {
    padding-top: 10px;
  }

  .content-bright-img {
    width: 15vh;
    height: 15vh;
  }

  .content-bright h1.content-title {
    float: right;
    margin-top: -50px;
  }

  /*FOOTER*/
  p.credits-text {
    margin-top: -10px;
    margin-bottom: 8px;
  }
}